.storybook-demo > .frc-dropdown-trigger {
  margin: 8px 8px 8px 0;
}

// dropdown trigger
.frc-dropdown-trigger.ant-dropdown-trigger {
  position: relative;
  display: inline-block;
  height: $dropdown-default-height;
  padding: 0 $dropdown-base-margin;
  background-color: $dropdown-base-background;
  color: $dropdown-text-normal;
  font-size: $dropdown-font-size;
  border: 1px solid $dropdown-border-color;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;

  &.frc-dropdown-arrow {
    padding-right: 3 * $dropdown-base-margin;
  }

  .frc-dropdown-trigger-arrow {
    position: absolute;
    right: $dropdown-base-margin;
    color: $dropdown-text-normal;
    font-size: $dropdown-base-margin;
    top: -2px;
  }

  // work status
  &.frc-dropdown-working {
    color: $dropdown-text-highlight;
  }

  // icon
  &:not(.frc-dropdown-icon) {
    min-width: $dropdown-default-width;
  }
  &.frc-dropdown-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $dropdown-default-height;
    line-height: $dropdown-default-height;
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  &:hover {git
    background-color: $dropdown-trigger-hover-background;
  }
  &:active {
    background-color: $dropdown-focus-background;
  }

  // focus
  &.frc-dropdown-focus {
    border-color: $dropdown-text-highlight;
    background-color: $dropdown-hover-background;
  }

  // disabled
  &.frc-dropdown-disabled {
    color: $dropdown-text-disabled;
    border-color: $dropdown-border-disabled-color;
    cursor: not-allowed;
    .frc-dropdown-trigger-icon,
    .frc-dropdown-trigger-arrow {
      color: $dropdown-text-disabled;
    }
    &:hover {
      background-color: $dropdown-base-background;
    }
    &:active {
      background-color: $dropdown-base-background;
    }
  }
}

// dropdown menu
.ant-dropdown,
.ant-dropdown .ant-table-filter-dropdown,
.ant-table-filter-dropdown-submenu,
.ant-dropdown.frc-dropdown,
.ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-popup.frc-dropdown-menu-sub {
  .ant-dropdown-menu-item-selected {
    background-color: $dropdown-hover-background;
  }
  .ant-dropdown-menu,
  .ant-dropdown-menu.frc-dropdown-menu,
  .ant-dropdown-menu.ant-dropdown-menu-sub {
    color: $dropdown-text-normal;
    @include dropdown-box-wrapper;

    // normal
    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      font-size: $dropdown-font-size;
      padding: $dropdown-min-margin $dropdown-base-margin;
      color: $dropdown-text-normal;
      line-height: 16px;
      &:hover,
      &-active {
        background-color: $dropdown-hover-background;
      }
    }
    .ant-dropdown-menu-submenu-title {
      padding-right: 3 * $dropdown-base-margin;
    }

    // divider
    .ant-dropdown-menu-item-divider,
    .ant-dropdown-menu-submenu-title-divider {
      background-color: $dropdown-divider-color;
      margin: $dropdown-min-margin $dropdown-min-margin;
    }

    // disabled
    .ant-dropdown-menu-item-disabled,
    .ant-dropdown-menu-submenu-title-disabled {
      color: $dropdown-text-disabled;
      &:hover {
        background-color: $dropdown-base-background;
      }
    }

    // submenu
    .ant-dropdown-menu-submenu {
      .ant-dropdown-menu-submenu-expand-icon {
        .ant-dropdown-menu-submenu-arrow-icon {
          color: $dropdown-text-normal;
        }
      }
      &.ant-dropdown-menu-submenu-disabled {
        .ant-dropdown-menu-submenu-title {
          background-color: $dropdown-base-background;
          color: $dropdown-text-disabled;
          .ant-dropdown-menu-submenu-expand-icon {
            .ant-dropdown-menu-submenu-arrow-icon {
              background-color: transparent;
              color: $dropdown-text-disabled;
            }
          }
        }
      }
    }

    // group
    .ant-dropdown-menu-item-group {
      .ant-dropdown-menu-item-group-title {
        font-size: $dropdown-font-size;
        padding: $dropdown-min-margin $dropdown-base-margin;
        color: $dropdown-text-normal;
      }
    }
  }
}

// theme-light
.ant-dropdown-trigger.frc-dropdown-trigger.frc-dropdown-theme-light {
  color: $words-grey;
  &:hover {
    background-color: $dropdown-menu-item-bg-light-hover;
  }
  &:active {
    background-color: $dropdown-menu-item-bg-light-hover;
  }

  // focus
  &.frc-dropdown-focus {
    border-color: $dropdown-menu-item-bg-light-hover;
    background-color: $dropdown-menu-item-bg-light-hover;
  }
}
.ant-dropdown
  .ant-dropdown-menu.frc-dropdown-menu.frc-dropdown-menu-theme-light {
  background: $dropdown-menu-background-color-light;
  border: $dropdown-menu-border-light;
  box-shadow: $dropdown-menu-box-shadow-light;
  .ant-dropdown-menu-item {
    color: $words-grey;
    &.ant-dropdown-menu-item-active,
    &:hover {
      background: $dropdown-menu-item-bg-light-hover;
    }
    &:active {
      background: $dropdown-menu-item-bg-light-active;
    }
  }
}
