.storybook-demo{
  .suqeeze-drawer-container{
    width: 100%;
    height: 400px;
    background-color: gray;
    margin-top: 12px;
  }
  .squeeze-story {
    button {
      margin-right: 8px;
    }
  }
}