.storybook-demo > .frc-pagination {
  margin: 8px 8px 8px 0;
}
.storybook-demo {
  .custom-pagination.frc-pagination {
    .ant-pagination-prev,
    .ant-pagination-next {
      background-color: transparent !important;
    }
  }
}

.frc-pagination.ant-pagination,
.frc-table.ant-table-wrapper .ant-table-pagination,
.frc-table.ant-table-wrapper .ant-table-pagination.mini {
  font-size: $pagination-font-size;
  line-height: unset;
  color: $words-supporting;

  // pagination item
  .ant-pagination-prev,
  .ant-pagination-next {
    @include pagination-item-a($words-supporting, $words-high-light);
    .ant-pagination-item-link {
      background: transparent;
      border-color: transparent;
      color: $words-supporting;
      &:hover {
        border-color: transparent;
        background: transparent;
      }
    }
  }
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    @include pagination-item-base;
    &:hover {
      background-color: $pagination-hover;
    }

    &.ant-pagination-disabled {
      &:hover {
        background-color: $pagination-item-background;
      }
      .ant-pagination-item-link {
        color: $pagination-item-disabled-color;
      }
    }
  }
  .ant-pagination-prev,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    margin-right: $pagination-item-margin;
  }
  .ant-pagination-item {
    @include pagination-item-base;

    @include pagination-item-a($words-supporting, $words-high-light);
    &-active {
      a {
        color: $words-high-light;
      }
      background-color: $pagination-item-background;
    }
    &:hover {
      background-color: $pagination-hover;
    }
  }

  // ellipsis icon
  .ant-pagination-item-container {
    .ant-pagination-item-link-icon {
      color: $words-supporting;
    }
    .ant-pagination-item-ellipsis {
      color: $words-supporting;
    }
  }

  // total text
  .ant-pagination-total-text {
    height: $pagination-item-height;
    line-height: 26px;
  }
  // pageSize options & quick jump
  .ant-pagination-options {
    margin-left: 8px;
    .ant-select {
      font-size: $pagination-font-size;
      border: 1px solid $pagination-border-color;
      border-radius: $pagination-border-radius;
      .ant-select-selector {
        height: $pagination-item-height;
        background-color: $element-background;
        border-width: 0;
        color: $words-supporting;
        .ant-select-selection-item {
          line-height: $pagination-line-height;
        }
      }
      .ant-select-arrow {
        color: $words-supporting;
      }
      .ant-select-dropdown {
        color: $words-supporting;
        background-color: $pagination-item-background;
        .ant-select-item {
          color: $words-supporting;
          font-size: $pagination-font-size;
          &:hover {
            background-color: $pagination-hover;
          }
        }
        .ant-select-item-option-selected {
          background-color: transparent;
          color: $words-high-light;
        }
        .ant-select-item-option-active {
          background-color: $pagination-hover;
        }
      }
      &.ant-select-focused {
        border-color: $words-high-light;
        .ant-select-selector {
          border-color: $words-high-light;
          border-right-width: 0;
          box-shadow: none;
        }
      }
    }
    .ant-pagination-options-quick-jumper {
      height: $pagination-item-height;
      line-height: $pagination-line-height;
      input {
        margin: 0 $pagination-item-margin;
        width: 36px;
        height: $pagination-item-height;
        padding: 4px 8px;
        background-color: $pagination-inner-background;
        border: 1px solid $pagination-border-color;
        color: $words-supporting;
        line-height: unset;
        font-size: $pagination-font-size;
        &:hover {
          background-color: $pagination-hover;
        }
        &:focus {
          border-color: $words-high-light;
          box-shadow: none;
          color: $words-high-light;
        }
      }
    }
  }

  // simple
  &.ant-pagination-simple {
    .ant-pagination-simple-pager {
      margin-right: $pagination-item-margin;
      input {
        background-color: $element-background;
        border: 1px solid $pagination-border-color;
        margin-right: 0;
        color: $words-high-light;
        &:hover {
          background-color: $pagination-hover;
        }
        &:focus {
          border-color: $words-high-light;
          box-shadow: none;
          color: $words-high-light;
        }
      }
      .ant-pagination-slash {
        margin: 0 $pagination-item-margin;
      }
    }
  }

  // disabled
  &.ant-pagination-disabled {
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      &:hover {
        background-color: $pagination-item-disabled-background;
      }
    }
    .ant-pagination-prev,
    .ant-pagination-next {
      @include pagination-item-a(
        $pagination-item-disabled-color,
        $pagination-item-disabled-color
      ) {
        cursor: not-allowed;
      }
      cursor: not-allowed;
      .ant-pagination-item-link {
        color: $pagination-item-disabled-color;
        &:hover {
          color: $pagination-item-disabled-color;
        }
      }
    }
    .ant-pagination-item {
      background-color: $pagination-item-disabled-background;
      @include pagination-item-a(
        $pagination-item-disabled-color,
        $pagination-item-disabled-color
      );
      &-active {
        background-color: $pagination-item-background;
      }
    }
    .ant-pagination-item-container {
      .ant-pagination-item-link-icon {
        color: $pagination-item-disabled-color;
      }
      .ant-pagination-item-ellipsis {
        color: $pagination-item-disabled-color;
      }
    }
    .ant-pagination-options {
      .ant-select {
        border-color: $pagination-item-disabled-background;
      }
      .ant-select-selector {
        color: $pagination-item-disabled-color;
      }
      .ant-select-arrow {
        color: $pagination-item-disabled-color;
      }
      .ant-pagination-options-quick-jumper {
        input {
          border-color: $pagination-item-disabled-background;
          &:hover {
            background-color: $element-background;
          }
        }
      }
    }
    &.ant-pagination-simple {
      .ant-pagination-simple-pager {
        color: $pagination-item-disabled-color;
        input {
          color: $pagination-item-disabled-color;
          border-color: $pagination-item-disabled-background;
          &:hover {
            background-color: $element-background;
          }
        }
      }
    }
  }
}
