.emojione {
    display: inline-block;
    width: 24px;
    max-width: 100%;
    height: 24px;
    max-height: 100%;
    background: url(../../../public/chatroom/assets/emojione.png);
    background-size: 900% 900%;
  }