// primary
$basic-background:                     #060707 !default;
$element-background:                   #121a19 !default;
$basic-plate:                          #172422 !default;
$part-plate:                           #263735 !default;
$basic-btn:                            #325850 !default;
$basic-filter:                         #325850 !default;
$basic-title:                          #325850 !default;
$btn-hover:                            #133e38 !default;
$mouse-hover:                          #133e38 !default;
$tittle-word:                          #3b9078 !default;
$new-data:                             #241f0c !default;
$baisc-disable:                        #585b5a !default;
// - linear
$button-linear-0:                      linear-gradient(0deg,   #3b9078, #325850) !default;
$button-linear-90:                     linear-gradient(90deg,  #3b9078, #325850) !default;
$button-linear-180:                    linear-gradient(180deg, #3b9078, #325850) !default;
$button-linear-270:                    linear-gradient(270deg, #3b9078, #325850) !default;
$button-linear-360:                    linear-gradient(360deg, #3b9078, #325850) !default;
$high-light-area-linear-0:             linear-gradient(0deg,   #f9c152, #f38a00) !default;
$high-light-area-linear-90:            linear-gradient(90deg,  #f9c152, #f38a00) !default;
$high-light-area-linear-180:           linear-gradient(180deg, #f9c152, #f38a00) !default;
$high-light-area-linear-270:           linear-gradient(270deg, #f9c152, #f38a00) !default;
$high-light-area-linear-360:           linear-gradient(360deg, #f9c152, #f38a00) !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// words color
$words-normal:                         #ffebc8 !default;
$words-high-light:                     #f9c152 !default;
$words-high-light-tip:                 #413217 !default;
$words-high-light-tip-80-opacity:      rgba(65, 50, 23, 0.8) !default;
$words-supporting:                     #8f9598 !default;
$words-disable:                        #585b5a !default;
$words-title:                          #3b9078 !default;
$words-black:                          #060707 !default;
$words-error:                          #ff4d4f !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// client
// - guoli - 国立
$broker-guoli:                         #457194 !default;
$broker-guoli-linear-0:                linear-gradient(0deg,   #7baac6, #457194) !default;
$broker-guoli-linear-90:               linear-gradient(90deg,  #7baac6, #457194) !default;
$broker-guoli-linear-180:              linear-gradient(180deg, #7baac6, #457194) !default;
$broker-guoli-linear-270:              linear-gradient(270deg, #7baac6, #457194) !default;
$broker-guoli-linear-360:              linear-gradient(360deg, #7baac6, #457194) !default;
// - guoji - 国际
$broker-guoji:                         #bd5555 !default;
$broker-guoji-linear-0:                linear-gradient(0deg,   #e08e8e, #bd5555) !default;
$broker-guoji-linear-90:               linear-gradient(90deg,  #e08e8e, #bd5555) !default;
$broker-guoji-linear-180:              linear-gradient(180deg, #e08e8e, #bd5555) !default;
$broker-guoji-linear-270:              linear-gradient(270deg, #e08e8e, #bd5555) !default;
$broker-guoji-linear-360:              linear-gradient(360deg, #e08e8e, #bd5555) !default;
// - pingan - 平安
$broker-pingan:                        #f76920 !default;
$broker-pingan-linear-0:               linear-gradient(0deg,   #fca243, #f76920) !default;
$broker-pingan-linear-90:              linear-gradient(90deg,  #fca243, #f76920) !default;
$broker-pingan-linear-180:             linear-gradient(180deg, #fca243, #f76920) !default;
$broker-pingan-linear-270:             linear-gradient(270deg, #fca243, #f76920) !default;
$broker-pingan-linear-360:             linear-gradient(360deg, #fca243, #f76920) !default;
// - xintang - 信唐
$broker-xintang:                       #8c5aa5 !default;
$broker-xintang-linear-0:              linear-gradient(0deg,   #c093d1, #8c5aa5) !default;
$broker-xintang-linear-90:             linear-gradient(90deg,  #c093d1, #8c5aa5) !default;
$broker-xintang-linear-180:            linear-gradient(180deg, #c093d1, #8c5aa5) !default;
$broker-xintang-linear-270:            linear-gradient(270deg, #c093d1, #8c5aa5) !default;
$broker-xintang-linear-360:            linear-gradient(360deg, #c093d1, #8c5aa5) !default;
// - zhongcheng - 中诚
$broker-xintang:                       #708d20 !default;
$broker-xintang-linear-0:              linear-gradient(0deg,   #a9c143, #708d20) !default;
$broker-xintang-linear-90:             linear-gradient(90deg,  #a9c143, #708d20) !default;
$broker-xintang-linear-180:            linear-gradient(180deg, #a9c143, #708d20) !default;
$broker-xintang-linear-270:            linear-gradient(270deg, #a9c143, #708d20) !default;
$broker-xintang-linear-360:            linear-gradient(360deg, #a9c143, #708d20) !default;
// - shangtian - 上田
$broker-shangtian:                     #067e6b !default;
$broker-shangtian-linear-0:            linear-gradient(0deg,   #0eb5a4, #067e6b) !default;
$broker-shangtian-linear-90:           linear-gradient(90deg,  #0eb5a4, #067e6b) !default;
$broker-shangtian-linear-180:          linear-gradient(180deg, #0eb5a4, #067e6b) !default;
$broker-shangtian-linear-270:          linear-gradient(270deg, #0eb5a4, #067e6b) !default;
$broker-shangtian-linear-360:          linear-gradient(360deg, #0eb5a4, #067e6b) !default;
// - shangjiaosuo - 上交所
$broker-shangjiaosuo:                  #ba6752 !default;
$broker-shangjiaosuo-linear-0:         linear-gradient(0deg,   #ef9680, #ba6752) !default;
$broker-shangjiaosuo-linear-90:        linear-gradient(90deg,  #ef9680, #ba6752) !default;
$broker-shangjiaosuo-linear-180:       linear-gradient(180deg, #ef9680, #ba6752) !default;
$broker-shangjiaosuo-linear-270:       linear-gradient(270deg, #ef9680, #ba6752) !default;
$broker-shangjiaosuo-linear-360:       linear-gradient(360deg, #ef9680, #ba6752) !default;
// - cfets - Cfets
$broker-cfets:                         #3e3eff !default;
$broker-cfets-linear-0:                linear-gradient(0deg,   #7272ff, #3e3eff) !default;
$broker-cfets-linear-90:               linear-gradient(90deg,  #7272ff, #3e3eff) !default;
$broker-cfets-linear-180:              linear-gradient(180deg, #7272ff, #3e3eff) !default;
$broker-cfets-linear-270:              linear-gradient(270deg, #7272ff, #3e3eff) !default;
$broker-cfets-linear-360:              linear-gradient(360deg, #7272ff, #3e3eff) !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// charts
$charts-h1:                            #b8002a !default;
$charts-h2:                            #e6433f !default;
$charts-h3:                            #f28036 !default;
$charts-h4:                            #fac246 !default;
$charts-h5:                            #fc8e9f !default;
$charts-h6:                            #fabe95 !default;
$charts-h7:                            #f7cf86 !default;
$charts-h8:                            #ffebc8 !default;
$charts-h9:                            #b3319b !default;
$charts-h10:                           #7846fa !default;
$charts-h11:                           #1600ff !default;
$charts-h12:                           #8d5b33 !default;
$charts-h13:                           #79b070 !default;
$charts-h14:                           #2da93c !default;
$charts-h15:                           #5cd5df !default;
$charts-h16:                           #4ca3fb !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// font
// - 大小
$font-size-base:                       12px !default;
$font-size-max:                        32px !default;
$font-size-lg:                         24px !default;
$font-size-medium:                     16px !default;
$font-size-sm:                         10px !default;
$font-size-root:                       null !default;
// - 字体
$font-family-sans-serif:               Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base:                     $font-family-sans-serif !default;
// - 字重
$font-weight-lighter:                  lighter !default;
$font-weight-light:                    300 !default;
$font-weight-normal:                   400 !default;
$font-weight-bold:                     700 !default;
$font-weight-bolder:                   bolder !default;
$font-weight-base:                     500 !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// 行高
$line-height-sm:                       16px !default;
$line-height-base:                     24px !default;
$line-height-lg:                       32px !default;
$line-height-max:                      48px !default;
$line-height-border:                   22px !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// 链接
$link-color:                           $words-normal !default;
$link-hover-color:                     $words-high-light !default;
$link-pressed-color:                   $words-high-light !default;
$link-disable-color:                   $words-disable !default;
$link-decoration-none:                 none !default;
$link-decoration:                      underline !default;
$link-hover-decoration:                underline !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// body
$body-bg:                              $basic-background !default;
$body-color:                           $words-normal !default;
$body-text-align:                      null !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// 边框 和 border radius
$border-width:                         1px !default;
$border-radius:                        2px !default;
$border-radius-lg:                     4px !default;
$border-dropdown-color:                #3b9078 !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// box阴影
$box-shadow:                           0 0 24px 0 rgba(255, 235, 200, 0.3) !default;

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

// animation spin
@-moz-keyframes spin {
  from {
    -moz-transform:                    rotate(0deg);
  }
  to {
    -moz-transform:                    rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform:                 rotate(0deg);
  }
  to {
    -webkit-transform:                 rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform:                         rotate(0deg);
  }
  to {
    transform:                         rotate(360deg);
  }
}

.icon-spin {
  -moz-animation:                      spin 1s infinite linear;
  -webkit-animation:                   spin 1s infinite linear;
  animation:                           spin 1s infinite linear;
}
