.storybook-demo {
  > .frc-select,
  > .frc-select-container {
    margin: 8px 8px 8px 0;
  }
}

.frc-select-container {
  display: inline-block;
  vertical-align: top;
  // width: 100%;
  min-width: 120px;
  @include input-selection;
  &.frc-select-container-prefix {
    position: relative;
  }
  &.frc-select-container-prefix-icon-disabled{
    .frc-select-prefix-wrapper {
      color: $words-disable;
      cursor: not-allowed;
    }
  }
}

.frc-select.ant-select.ant-select-single,
.frc-select.ant-select.ant-select-multiple {
  min-width: 120px;
  @include input-number-style(
    // normal
    $select-background,
    $select-color,
    $select-border,
    // hover
    $select-background,
    $select-color-hover,
    $select-border-hover,
    // focus
    $select-background-focus,
    $select-color-focus,
    $select-border-focus,
    // disabled
    $select-background-disabled,
    $select-color-disabled,
    $select-border-disabled
  );
  line-height: $select-line-height;
  font-size: $select-font-size;
  border-radius: $select-radius;
  input {
    height: auto !important;
  }
  &.ant-select-show-search {
    &:hover {
      background-color: $input-search-background-hover;
    }
  }
  .ant-select-selector {
    padding: $select-padding;
    margin-right: 14px;
    .ant-select-selection-search {
      left: 4px;
    }
    // 超出省略样式
    .ant-select-selection-overflow {
      .ant-select-selection-overflow-item.ant-select-selection-overflow-item-rest {
        .ant-select-selection-item {
          padding-inline-start: 4px;
        }
      }
    }
  }
  .ant-select-selection-placeholder {
    color: $words-supporting;
  }
  .ant-select-selector,
  .ant-select-selector::after,
  .ant-select-selector .ant-select-selection-item,
  .ant-select-selection-placeholder {
    border: none;
    line-height: $line-height-border;
    height: auto;
    background-color: transparent;
    box-shadow: none !important;
  }
  .ant-select-arrow {
    color: $select-color;
    right: 2px;
    * {
      height: 8px;
    }
  }
  .ant-select-clear {
    color: $words-normal;
    right: 3px;
    top: auto;
    bottom: 3px;
    background: $basic-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    &:hover {
      background: $btn-hover;
    }
  }
  .ant-select-selection-item {
    font-weight: $select-font-weight;
  }
  &.ant-select-open {
    .ant-select-arrow {
      transform: rotate(180deg);
    }
    &.ant-select-show-search {
      .ant-select-arrow {
        transform: rotate(0deg);
      }
    }
  }

  // no-border
  &.frc-select-no-border {
    // normal
    border: 1px transparent solid;
    background-color: transparent;
    transition: All 0.3s ease;
    .ant-select-selection-item {
      color: $tittle-word !important;
    }
    .ant-select-arrow {
      color: $tittle-word !important;
    }

    // hover
    &:hover {
      background-color: $btn-hover;
      .ant-select-selection-item {
        color: $select-color !important;
      }
      .ant-select-arrow {
        color: $select-color !important;
      }
    }

    // focus
    &.ant-select-focused.ant-select-open {
      background-color: $btn-hover !important;
      .ant-select-selection-item {
        color: $words-high-light !important;
      }
      .ant-select-arrow {
        color: $select-color !important;
      }
    }

    // focus after -> normal
    &.ant-select-focused:not(.ant-select-open) {
      border: 1px transparent solid !important;
      background-color: transparent !important;
      .ant-select-selection-item {
        color: $tittle-word !important;
      }
      .ant-select-arrow {
        color: $tittle-word !important;
      }
    }

    // disabled
    &.ant-select-disabled {
      border: 1px transparent solid !important;
      background: transparent !important;
      .ant-select-selector {
        background: transparent !important;
        .ant-select-selection-item {
          color: $select-color-disabled !important;
        }
      }
      .ant-select-arrow {
        background: transparent !important;
        color: $select-color-disabled !important;
      }
    }
  }
}

// select-dropdown
.frc-select.ant-select-dropdown {
  @include dropdown-box-wrapper;
  // item
  .ant-select-item {
    color: $select-color;
    font-size: $font-size-base;
    line-height: $line-height-base;
    min-height: 0;
    padding: 0 8px;
    font-weight: $select-font-weight;
  }

  // now active
  .ant-select-item-option-active {
    background-color: $select-background-hover;
  }

  // prve active
  .ant-select-item-option-selected {
    background-color: transparent;
    color: $words-high-light !important;
    &:hover {
      background-color: $select-background-hover;
    }
    .ant-select-item-option-state {
      color: $words-high-light !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // disabled
  .ant-select-item-option-disabled {
    color: $words-disable;
  }

  // scrollbar
  .rc-virtual-list-scrollbar {
    width: 4px !important;
    .rc-virtual-list-scrollbar-thumb {
      background-color: $basic-btn !important;
    }
  }
  &.frc-select-remove-selected-icon {
    .ant-select-item-option-state {
      display: none !important;
    }
  }
  // group
  .ant-select-item-group {
    padding-top: 8px;
    &::before {
      content: "";
      position: absolute;
      border-color: $basic-btn;
      border-top-style: solid;
      border-width: 1px;
      height: 0;
      top: 1.3em;
      left: 4px;
      margin-top: -1em;
      transform: rotate(0deg);
      width: calc(100% - 8px);
    }
    // clear first group border top
    &:nth-child(1) {
      padding-top: 0;
      &::before {
        display: none;
      }
    }
  }
  .ant-select-item-option-grouped {
    padding-left: 24px;
  }
}

// icon
.frc-select-prefix-wrapper {
  z-index: 11;
  display: flex;
  height: 22px;
  width: 20px;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: $words-normal;
  position: absolute;
  left: 1px;
  top: 1px;
}

// prefix select
.frc-select.frc-select-prefix {
  position: relative;
  line-height: $line-height-base;
  // single
  &.ant-select-single {
    .ant-select-selector {
      padding-left: 22px;
      .ant-select-selection-search {
        left: 20px;
      }
    }
  }
  // multiple
  &.ant-select-multiple {
    .ant-select-selector {
      padding-left: 22px;
      .ant-select-selection-placeholder {
        padding-left: 22px;
      }
    }
  }
}

// multiple select
.frc-select.ant-select.ant-select-multiple {
  &:hover {
    background-color: $select-background;
  }
  .ant-select-selection-search,
  .ant-select-selector::after {
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-start: 0;
  }
  .ant-select-selection-search-mirror,
  .ant-select-selection-search-input {
    height: auto;
    line-height: 1em;
  }
  .ant-select-selector {
    .ant-select-selection-search {
      left: 0px;
    }
    .ant-select-selection-item {
      padding-inline-end: 0;
      line-height: 16px;
      background-color: $part-plate;
      .ant-select-selection-item-remove {
        color: $words-normal;
        width: 20px;
        .anticon-close {
          vertical-align: 0;
          font-size: 8px;
        }
        &:hover {
          background-color: $select-background-hover;
        }
      }
    }
  }
  .ant-select-arrow {
    right: 6px;
    top: auto;
    bottom: 6px;
  }
  .ant-select-selection-placeholder {
    left: 0;
    padding-left: 4px;
  }
}
