.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.frc-resizeable-start {
  border-right-color: #c70025 !important;
}

.frc-table.ant-table-wrapper {
  * {
    font-size: $table-base-font-size;
  }

  // normal ------------------------------------------------------------------------------------------------

  // table box
  .ant-table {
    background: $table-background;
    // table header
    .ant-table-thead {
      tr {
        .ant-table-cell {
          color: $table-color-title;
          background: $table-background-title;
          border-bottom: $table-border-title;
          padding: 0 6px;
          line-height: $table-base-line-height - 1;
        }
      }
    }

    // table body
    .ant-table-tbody {
      .ant-table-row {
        .ant-table-cell {
          color: $table-color-text;
          border-bottom: $table-border;
          padding: 0 6px;
          line-height: $table-base-line-height - 1;

          // flexd column
          &.ant-table-cell-fix-left,
          &.ant-table-cell-fix-right {
            background: $table-background-title;
            border-bottom: $table-border-title;
          }

          // hover item
          &.ant-table-cell-row-hover {
            background: $table-background-hover;
          }
        }
      }
    }

    // summary
    .ant-table-summary {
      background: $table-background-title;
      tr {
        .ant-table-cell {
          color: $table-color-text;
          border-bottom: $table-border-title;
          padding: 0 6px;
          line-height: $table-base-line-height - 1;
        }
        &:last-child {
          .ant-table-cell {
            border-bottom: $table-border-bold;
          }
        }
        &:hover {
          .ant-table-cell {
            background: $table-background-hover;
          }
        }
      }
    }

    // empty
    &.ant-table-empty {
      .ant-table-tbody {
        // empty data
        .ant-table-placeholder {
          background: linear-gradient(
            180deg,
            transparent 23px,
            $part-plate 24px
          );
          background-size: 100px 24px;

          .ant-table-cell {
            border-bottom: none;

            // empty style -> custom
            .frc-table-empty {
              display: flex;
              align-items: center;
              justify-content: center;
              color: $table-color-text-supporting;
              top: -2px;
              position: relative;
              width: 100%;
            }
          }

          &:hover {
            td.ant-table-cell {
              background: transparent;
            }
          }
        }
      }
    }
  }

  // row bg type cross
  &.frc-row-bg-type-cross {
    .ant-table {
      .ant-table-thead {
        tr {
          .ant-table-cell {
            background: $basic-plate;
            border-bottom: none;
            line-height: $table-base-line-height;
          }
        }
      }
      .ant-table-tbody {
        .ant-table-row {
          &:nth-child(odd) {
            background: $part-plate;
          }

          .ant-table-cell {
            border-bottom: none;
            line-height: $table-base-line-height;
          }
        }
      }

      // empty
      &.ant-table-empty {
        .ant-table-tbody {
          // empty data
          .ant-table-placeholder {
            background: linear-gradient(
              0deg,
              $basic-plate 50%,
              $part-plate 50%
            );
            background-size: 100px 48px;
          }

          .ant-table-cell {
            .frc-table-empty {
              top: 0px;
            }
          }
        }
      }
    }
  }

  // scrollbar --------------------------------------------------------------------------------------------

  // 控制整个滚动条
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  // 滚动条中间滑动部分
  ::-webkit-scrollbar-thumb {
    background-color: $basic-filter;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
    &:hover {
      background-color: $btn-hover;
    }
  }

  // 滚动条右下角区域
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .ant-table-cell-scrollbar:not([rowspan]) {
    box-shadow: none;
  }

  // -----------------------------------------------------------------------------------------------------------
}
