.storybook-demo > .frc-ui-transfer {
  margin: 8px 8px 8px 0;
}

.frc-ui-transfer {
  .ant-transfer-list {
    border: 1px solid $basic-border;
    .ant-transfer-list-header {
      background: $basic-plate;
      height: 32px;
      padding: 4px 8px;
      color: $words-normal;
      border-bottom: 0;
      font-size: 12px;
      .ant-checkbox-inner {
        background-color: $basic-background;
        border: 1px solid $basic-border;
      }
      .ant-checkbox.ant-checkbox-indeterminate {
        .ant-checkbox-inner {
          border-color: #F5AE3D;
          &::after {
            background-color: #F5AE3D;
            border-color: #F5AE3D;
          }
        }
        &::after {
          border-color: #F5AE3D;
        }
      }
      .ant-checkbox.ant-checkbox-checked {
        .ant-checkbox-inner {
          border-color: #F5AE3D;
          &::after {
            background-color: $basic-background;
            border-color: #F5AE3D;
          }
        }
        &::after {
          border-color: #F5AE3D;
        }
      }
    }
    .ant-transfer-list-body {
      .ant-transfer-list-content {
        padding: 4px 4px 0;
        background: $basic-plate;
        .ant-transfer-list-content-item {
          background: $filter-normal-bg;
          color: $words-normal;
          min-height: 32px;
          padding: 4px;
          line-height: 24px;
          margin-bottom: 4px;
          border-radius: 2px;
          font-size: 12px;
          & > *:not(:last-child) {
            margin-right: 4px;
            .ant-checkbox .ant-checkbox-inner {
              background-color: $basic-background;
              border: 1px solid $basic-border;
            }
            .ant-checkbox.ant-checkbox-checked {
              .ant-checkbox-inner {
                border: 1px solid #F5AE3D;
                &::after {
                  border-color: #F5AE3D;
                }
                &:hover {
                  border-color: #F5AE3D;
                }
              }
              &::after {
                border-color: #F5AE3D;
              }
            }
          }
        }
      }
    }
  }
  .ant-transfer-operation {
    margin: 0 4px;
    .ant-btn {
      width: 24px;
      height: 24px;
    }
    .ant-btn:first-child {
      margin-bottom: 8px
    }
    .ant-btn-primary {
      background-color: $basic-btn;
      border: 0;
      color: $words-normal;
    }
    .ant-btn-primary[disabled] {
      background-color: $basic-btn;
      border: 0;
      color: $words-normal;
      opacity: 0.6;
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $hover-button;
    border: 1px solid transparent;
    border-radius: 4px;
    &:active,
    &:hover {
      background-color: $basic-btn;
    }
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: $element-background;
    border-radius: unset;
  }
}