// --> TreeSelect _style.scss covered by Select _style.scss

$namePrefix: 'ant-select-tree';

// wrapper 
.frc-tree-select-wrapper {
  display: inline-block;
  &.frc-tree-select-wrapper-ellipsis {
    position: relative;
    .frc-tree-select.ant-tree-select {
      z-index: 10;
      background-color: transparent !important;
      .ant-select-selection-item {
        // display: none;
        width: 0px;
        max-width: 0px;
        padding: 0px;
      }
      .ant-select-selection-overflow {
        // 设置 display: none;导致trigger dom focus相关类名失效
        width: 0px;
        max-width: 0px;
        overflow: hidden;
      }

      &.ant-select-focused + .frc-tree-select-fill-wrapper{
        background-color: $dropdown-focus-background;
        .frc-tree-select-fill-content{
          color: $words-high-light;
        }
      }
      &.ant-select-disabled {
        .ant-select-selector {
          background: transparent !important;
        }
        + .frc-tree-select-fill-wrapper .frc-tree-select-fill-content {
          color: $words-disable;
        }
      } 
    }
  }
  .frc-tree-select-fill-wrapper {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: $dropdown-base-background;
    &:hover {
      background-color:$dropdown-hover-background;
    }
  }
  &.frc-tree-select-wrapper-arrow {
    .frc-tree-select-fill-content {
      padding-right: 15px;
    }
  }
  .frc-tree-select-fill-content {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    color: $words-normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.frc-tree-select-wrapper-arrow {
    .frc-tree-select-fill-text {
      padding-right: 28px;
    }
  }
}

// tree select
// .frc-tree-select.ant-tree-select {}

// tree select dropdown
.frc-tree-select-dropdown.ant-tree-select-dropdown {
  padding: 8px 0;
  .ant-select-tree-switcher .ant-tree-switcher-icon,
  .ant-select-tree-switcher .ant-select-tree-switcher-icon {
    font-size: 8px;
  }
  &.frc-tree-select-hidden-switcher {
    .ant-select-tree-switcher {
      width:0;
    }
  }
  .ant-select-tree-node-content-wrapper {
    &:hover {
      background-color:transparent
    }
    &.ant-select-tree-node-selected {
      background-color: transparent;
      color: $words-high-light;
    }
  }
  .ant-select-tree {
    background-color:transparent;
    color: $words-normal;
    font-size: $font-size-base;
    line-height: 1em;
    .ant-select-tree-treenode {
      padding: 0 8px;
      @include radio-checkbox-style(
        // normal
        $checkbox-background,
        $checkbox-color,
        $checkbox-border,
        $checkbox-background-icon,
        $checkbox-border-icon,
        // hover
        $select-background-hover,
        $checkbox-color-hover,
        $checkbox-border-hover,
        $checkbox-background-hover-icon,
        $checkbox-border-hover-icon,
        // active
        $select-background-hover,
        $checkbox-color-active,
        $checkbox-border-active,
        $checkbox-background-active-icon,
        $checkbox-border-active-icon,
        $checkbox-background-active-icon-inner,
        // focus
        $checkbox-background-focus,
        $checkbox-color-focus,
        $checkbox-border-focus,
        $checkbox-background-focus-icon,
        $checkbox-border-focus-icon,
        // disabled
        $checkbox-background-disabled,
        $checkbox-color-disabled,
        $checkbox-border-disabled,
        $checkbox-background-disabled-icon,
        $checkbox-border-disabled-icon,
        // disabled - inner
        $checkbox-background-disabled-icon-inner,
        $checkbox-border-disabled-icon-inner,
        // selector prefix
        $namePrefix
      );

      .ant-select-tree-checkbox {
        @include checkbox-indeterminate($namePrefix);
      }
    }
    
  }
  .ant-select-tree-list-scrollbar {
    width: 4px !important;
    .ant-select-tree-list-scrollbar-thumb {
      background: $basic-btn !important;
    }
  }
}

// fill content item
// .frc-tree-select-fill-item {
//   position: relative;
//   &:not(:last-of-type) {
//     // margin-right: 8px;
//   }
// }

// ------------------------- checked tree-select ---------------
.frc-tree-selected-wrapper {
  display: inline-block;
  margin-left: 4px;
  position: relative;
  .frc-tree-selected-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 32px 0 8px;
    color: $words-normal;
    background-color: $dropdown-base-background;
  }
}
.frc-tree-select.ant-tree-select.frc-tree-selected{
  min-width: 48px;
  z-index: 10;
  background: transparent !important;
  &.ant-select-focused {
      background: transparent !important;
      & + .frc-tree-selected-content {
      background-color: $dropdown-focus-background;
      color: $words-high-light;
    }
  }
  .ant-select-selection-overflow {
    // 设置 display: none;导致trigger dom focus相关类名失效
    width: 0px;
    max-width: 0px;
    overflow: hidden;
  }
  .ant-select-selector {
    margin-right: 0 !important;
  }
  &.ant-select-disabled {
    background: transparent !important;
    .ant-select-selector {
      background: transparent !important;
    }
    & + .frc-tree-selected-content {
      color:$words-disable;
    }
  }
}
.frc-tree-select-clear {
  height: 10px;
  width: 10px;
  display: flex;
  place-content: center;
  background: $words-normal;
  align-items: center;
  cursor: pointer;
  @include position-vertical-center;
  right: 8px;
  z-index: 11;
  .frc-clear-icon{
    color: $basic-btn;
    font-size: 18px;
  }
  &:hover {
    .frc-clear-icon {
      color: $btn-background-hover;
    }
  }
  &:active {
    .frc-clear-icon {
      color: $btn-background-active;
    }
  }
  &.frc-tree-select-clear-disabled {
    background: $words-disable;
    cursor: not-allowed;
    .frc-clear-icon {
      color:$btn-background-disabled;
    }
  }
}

// ----------------------------------extra button------------------------------
.frc-tree-select-extra-button-wrapper {
  display:flex;
  padding: 12px 8px 0;
  justify-content: center;
  align-items: center;
  .frc-btn {
    width: 80px;
  }
}
