.storybook-demo {
  display: flex;
}

.storybook-demo>.center {
  display: block;
  margin: auto;
  margin-top: 50px;
}

.storybook-demo>.center .tooltip-base {
  display: inline-block;
  margin: 5px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 2px;
  width: 60px;
  text-align: center;
}

.storybook-demo>.center .tooltip-base.no-arrow {
  width: fit-content;
  margin: 20px;
}

.storybook-demo>.center .top_panel,
.storybook-demo>.center .bottom_panel {
  margin-left: 65px;
}

.storybook-demo>.center .left_panel {
  float: left;
}

.storybook-demo>.center .left_panel>* {
  display: block;
}

.storybook-demo>.center .right_panel {
  margin-left: 270px;
}

.storybook-demo>.center .right_panel>* {
  display: block;
}

// ----------------------------------------------------------------

.frc-tooltip.ant-tooltip-placement-top,
.frc-tooltip.ant-tooltip-placement-topLeft,
.frc-tooltip.ant-tooltip-placement-topRight {
  padding-bottom: 7px;
}

.frc-tooltip.ant-tooltip-placement-left,
.frc-tooltip.ant-tooltip-placement-leftTop,
.frc-tooltip.ant-tooltip-placement-leftBottom {
  padding-right: 7px;
}

.frc-tooltip.ant-tooltip-placement-right,
.frc-tooltip.ant-tooltip-placement-rightTop,
.frc-tooltip.ant-tooltip-placement-rightBottom {
  padding-left: 7px;
}

.frc-tooltip.ant-tooltip-placement-bottom,
.frc-tooltip.ant-tooltip-placement-bottomLeft,
.frc-tooltip.ant-tooltip-placement-bottomRight {
  padding-top: 7px;
}

.frc-tooltip.frc-tooltip-passive-without-arrow {
  top: 100px !important;
  left: 45% !important;
}

.frc-tooltip .ant-tooltip-content {
  padding: 0 8px;
  background: #121A19;
  border: 1px solid #3B9078;
  box-shadow: 0 0 24px 0 rgba(255, 235, 200, 0.30);
  border-radius: 2px;
}


.frc-tooltip.frc-tooltip-passive .ant-tooltip-content {
  border-width: 2px;
  background: #172422;
}

.frc-tooltip .ant-tooltip-content .ant-tooltip-inner {
  padding: 0;
  min-width: 5px;
  min-height: 5px;
  background: none;

  font-family: Roboto-Medium;
  font-size: 12px;
  color: #FFEBC8;
  text-align: center;
  line-height: 24px;
  font-weight: 500;
}

.frc-tooltip.frc-tooltip-without-arrow .ant-tooltip-arrow {
  display: none;
}

.frc-tooltip .ant-tooltip-arrow .ant-tooltip-arrow-content {
  --antd-arrow-background-color: none;
  background-color: #121A19;
  border: 1px solid #3B9078
}

.frc-tooltip.frc-tooltip-passive .ant-tooltip-arrow .ant-tooltip-arrow-content {
  border-width: 2px;
}