.frc-tabs-only {
  display: inline-flex;
  font-weight: $font-weight-normal;
  color: $words-normal;
  text-align: center;
  box-sizing: border-box;
  border-radius: $border-radius;
  align-items: center;
  justify-content: center;
 
  .frc-tab-pane {
    height: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: $tabs-base-background-hover;
    }
    &:active {
      background-color: $tabs-base-background-active;
    }
    .frc-tab-pane-content {
      min-width: 80px;
      height: 100%;
      padding: 0 $tabs-base-padding;
      box-sizing: border-box;
      @include text-ellipsis;
    }
  }

  // disabled
  &.frc-tabs-only {
    .frc-tab-pane-disabled  {
      cursor: not-allowed;
      color: $words-disable;
      &:hover {
        background-color: transparent;
      }
      &.frc-tab-pane-active {
        background-color: $tabs-base-background-disabled;
        &:hover {
          background-color: $tabs-base-background-disabled;
        }
      }
    }
  }
}

// type default
.frc-tabs-only.frc-tabs-only-default {
  background: $element-background;
  border: 1px solid $tabs-base-background;

  .frc-tab-pane-active {
    background: $tabs-base-background;
  }
}

// type piend
.frc-tabs-only.frc-tabs-only-piend {

  .frc-tab-pane {
    border-radius: $border-radius;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      display: block;
      width: 100%;
      height: 2px;
      background-image: none;
    }
  }

  .frc-tab-pane-active {
    background-color: $element-background;
    border-radius: 0;
    &:hover {
      background-color: $tabs-base-background-disabled;
    }
    &::after {
      background-image: $high-light-area-linear-90;
    }
  }

  // disabled
  &.frc-tabs-only {
    .frc-tab-pane-disabled  {
      cursor: not-allowed;
      color: $words-disable;
      &:hover {
        background-color: transparent;
      }
      &.frc-tab-pane-active {
        &:hover {
          background-color: $tabs-base-background-active;
        }
        &::after {
          opacity: 0.3;
        }
      }
    }
  }
}

// type solid
.frc-tabs-only.frc-tabs-only-solid {
  .frc-tab-pane {
    background-color: $element-background;
    border: 1px solid transparent;
    border-radius: $border-radius;
    &:not(:last-of-type) {
      margin-right: 4px;
    }
    &:hover {
      background-color: $tabs-base-background-hover;
    }
    &:active {
      background-color: $tabs-base-background-active;
    }
  }
  .frc-tab-pane-active {
    border: 1px solid $words-high-light;
    color: $words-high-light;
  }
  // disabled
  &.frc-tabs-only {
    .frc-tab-pane-disabled  {
      cursor: not-allowed;
      color: $words-disable;
      &:hover {
        background-color: $element-background;
      }
      &.frc-tab-pane-active {
        color: $words-disable;
        border: 1px solid $tabs-base-background-disabled;
        background-color: $element-background;
      }
    }
  }
}


// size
.frc-tabs-only.frc-tabs-only-size-small {
  @include tabs-size(
    $tabs-item-default-height,
    $tabs-item-default-line-height,
    $font-size-base
  );
}

.frc-tabs-only.frc-tabs-only-size-middle {
  @include tabs-size(
    $tabs-item-middle-height,
    $tabs-item-middle-line-height,
    $font-size-base
  );
}
.frc-tabs-only.frc-tabs-only-size-large {
  @include tabs-size(
    $tabs-item-large-height,
    $tabs-item-large-line-height,
    $font-size-medium
  );
}

// text-ellipsis
.frc-tabs-only-not-atuo-width {
  .frc-tab-pane {
    .frc-tab-pane-content {
      width: 80px;
      @include text-ellipsis;
    }
  }
}

// theme-light
.frc-tabs-only.frc-tabs-only-theme-light {
  color: $words-grey;
  background: $tabs-background-color-light;
  border: $tabs-border-light;

  .frc-tab-pane {
    &.frc-tab-pane-active {
      background: $tabs-tab-bg-light;
    }
    &:hover {
      background-color: $tabs-tab-bg-light-hover;
    }
    &:active {
      background-color: $tabs-tab-bg-light-active;
    }

    &.frc-tab-pane-disabled {
      &.frc-tab-pane-active {
        background-color: $tabs-tab-bg-light-diabled;
        &:hover {
          background-color: $tabs-tab-bg-light-diabled;
        }
      }
      &:hover {
        background-color: unset;
      }
    }
  }
}
